<html ng-app="myApp">
  <head>
    <title>Music Play</title>
    <link rel="stylesheet" href="content\css\master.css">
    <script src="app/lib/angular.min.js"></script>
    <script src="app/app.js"></script>

  </head>
  <body ng-controller="myMainController">
    <div class = "mainFrame">
      <p>
        Music by artist
      </p>
      <div ng-repeat= "music in musicPlay">
        <div id="ArtistControlBlock" ng-repeat="slide in slides">
          <img ng-src="{{slide.image}}">
          <div id="artistName">
            {{music.name}}
          </div><br><br><br><br><br>
        </div>
      </div>
    </div>
  </body>

</html>
<div id= "mainSubTable" ng-repeat= "musicAlbums in music.albums">
    {{ musicAlbums.title}}
  </div>
