body{
  margin: 0px 0px 0px 0px;
  background: #ccc;
}

#container{
  width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #fff;

}

#header{
  height: 150px;
  background: #677;
}

#menu{
  height: 60px;
  background-color: #666;
}

#menu ul{
  margin: 0;
  padding: 0;
}

#menu li{
  list-style-type: none;
  float: left;
  display: block;
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 55px;
  font-family: sans-serif, serif, fantasy;
  font-size: 12px;

}

#menu li a{
  text-decoration: none;
  color: #fff;
}

#menu li:hover{
  background-color: #CCC;
}

#side_bar{
  width: 150px;
  height: 400px;
  background: #777;
  float: left;
}

#main_body{
  width: 650px;
  height: 400px;
  background: #779;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  overflow-y: scroll;

}
#main_body div{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: auto;
  margin-top: 100px;

}

#navlist li
{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.thumbnail {
  width: 40%;
  height: 40%;
  border: 1px solid;
}

#span_content{
  border: 1px solid;
  font-family: sans-serif, serif, fantasy;
  font-size: 18px;
  display: inline;
  padding-left: 10.5%;
  padding-right: 10.5%;
  text-align: center;

}


#footer{
  height: 100px;
  margin-bottom: 20px;
  background: #788;
  clear: both;
}

/* Media queries*/
@media screen and (max-width:700px){
  #container{
    width: 500px;
  }

  #side_bar{
    width: 94px;
  }
  #main_body{
    width: 406px;
  }
}

@media screen and (max-width:400px){
  #container{
    width: 300px;
  }

  #side_bar{
    width: 56px;
  }
  #main_body{
    width: 244px;
  }
}
